#street{
    height: 650px;
 background-image: url(/image/busys2.jpg); 
 background-repeat: no-repeat;
 background-size: cover;  
 background-attachment: fixed;
}
#dew{
    height: 650px;
    width: 1300px;
    opacity: 0.6;
    backface-visibility: hidden;
    background-position: center;
    
}